/* Container styling */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading styling */
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
    text-align: left; /* Align headings to the left */
  }
  
  /* Form styling */
  form {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Textarea styling */
  .textarea-field {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  